$padding: 20px;
$gap: 1ch;
$textColor: rgba(255, 255, 255, 0.7);
$buttonBackground: rgba(255, 255, 255, 0.1);
$buttonHoverBackground: rgba(255, 255, 255, 0.12);
$buttonActiveBackground: rgba(255, 255, 255, 0.15);
$transitionTime: 0.2s;
$animationTime: 1s;
$buttonBorderRadius: 2px;
$rowHeight: 24px;

body {
  margin: 0;
  background: #202020;
}
* {
  font-family: Arial, Helvetica, sans-serif;
}
p {
  margin: 0;
  font-size: 14px;
  color: $textColor;
}
button {
  border: 0;
  background: $buttonBackground;
  border-radius: $buttonBorderRadius;
  color: $textColor;
  font-size: 12px;
  cursor: pointer;
  outline: 0;
  transition: background $transitionTime;
  &:hover {
    background: $buttonHoverBackground;
  }
  &:active {
    background: $buttonActiveBackground;
  }
}
#controls {
  padding: $gap;
  background: rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  position: absolute;
  right: $padding;
  top: $padding;
  display: grid;
  grid-template-rows: repeat(2, $rowHeight);
  grid-template-columns:8ch $rowHeight $rowHeight 15ch 12ch;
  grid-template-areas: 
    "root dot1 dot2 instrument refresh"
    "root-input dot3 dot4 instrument-select status";
  gap: $gap;
  transition: max-width $transitionTime;
  max-width: 12ch;
  justify-content: end;
  overflow: hidden;
  &.expanded {
    max-width: calc(8ch + 15ch + 12ch + #{$gap} * 5 + #{$rowHeight} + #{$rowHeight});
  }
  &.overflow-visible {
    overflow: visible;
  }
}

.input {
  outline: none;
  background: $buttonBackground;
  border: none;
  color: $textColor;
  padding: 0 1ch;
  transition: background $transitionTime;
  cursor: pointer;
  &:hover {
    background: $buttonHoverBackground;
  }
  &:focus {
    background: $buttonActiveBackground;
  }
  &.error {
    background: rgba(255, 0, 0, 0.2);
  }
  &.ok {
    background: rgba(0, 255, 0, 0.2);
  }
}

.select-wrapper {
  position: relative;
}
.options {
  left: 0;
  right: 0;
  position: absolute;
  display: none;
  &.active {
    display: block;
  }
  border-radius: $buttonBorderRadius;
}

.select {
  background: $buttonBackground;
  border: none;
  text-transform: capitalize;
  border-radius: $buttonBorderRadius;
  color: $textColor;
  font-size: 12px;
  width: 100%;
  height: 100%;
  line-height: $rowHeight;
  padding: 0 1ch;
  box-sizing: border-box;
  transition: background $transitionTime;
  &:hover {
    background: $buttonHoverBackground;
  }
  &.disabled, &.active {
    background: $buttonActiveBackground;
    pointer-events: none;
  }
  cursor: pointer;
}

.option {
  font-size: 12px;
  background: $buttonHoverBackground;
  padding: ($gap / 2);
  text-transform: capitalize;
  cursor: pointer;
  &:hover {
    background: $buttonActiveBackground;
  }
  &:last-child {
    border-bottom-left-radius: $buttonBorderRadius;
    border-bottom-right-radius: $buttonBorderRadius;
  }
}

#root-note {
  grid-area: root;
}

#root-input {
  grid-area: root-input;
}

#refresh-connection {
  place-self: stretch;
  grid-area: refresh;
}

#connection-status {
  grid-area: status;
  &.not-connected {
    color: rgba(255, 50, 50, 0.7);
    &:after {
      content: "Not connected";
    }
  }
  &.connected {
    color: rgba(50, 255, 50, 0.7);
    &:after {
      content: "Connected";
    }
  }
  &.not-supported {
    color: rgba(255, 255, 50, 0.7);
    &:after {
      content: "Not supported";
    }
  }
}
#instrument {
  grid-area: instrument;
}
#instrument-select-wrapper {
  grid-area: instrument-select;
}
.control-title {
  place-self: center;
}
#dot1 {
  grid-area: dot1;
}
#dot2 {
  grid-area: dot2;
}
#dot3 {
  grid-area: dot3;
}
#dot4 {
  grid-area: dot4;
}
.dot-wrapper {
  position: relative;
  place-self: stretch;
}
.dot {
  border-radius: $buttonBorderRadius / 2;
  width: $rowHeight - 4px;
  height: $rowHeight - 4px;
  margin: 2px;
  opacity: 0.3;
  &:hover {
    opacity: 0.5;
  }
  &.active {
    opacity: 0.6;
    &:after {
      content: '';
      display: block;
      width: $rowHeight;
      height: $rowHeight;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: $buttonBorderRadius;
      border: 1px solid currentColor;
      box-sizing: border-box;
    }
  }
}
.red {
  color: rgb(255, 63, 63);
  background-color: rgb(255, 63, 63);
}
.orange {
  color: rgb(255, 63, 63);
  background-color: rgb(255, 63, 63);
}
.yellow {
  color: rgb(255, 255, 0);
  background-color: rgb(255, 255, 0);
}
.green {
  color: rgb(63, 255, 63);
  background-color: rgb(63, 255, 63);
}
.cyan {
  color: rgb(63, 255, 255);
  background-color: rgb(63, 255, 255);
}
.sky {
  color: rgb(63, 191, 255);
  background-color: rgb(63, 191, 255);
}
.blue {
  color: rgb(63, 63, 255);
  background-color: rgb(63, 63, 255);
}
.purple {
  color: rgb(191, 63, 255);
  background-color: rgb(191, 63, 255);
}
.violet {
  color: rgb(255, 63, 191);
  background-color: rgb(255, 63, 191);
}
